<div class="roles-table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Código de Rol</th>
          <th>Nombre de Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>{{ role.id }}</td>
          <td>{{ role.role_code }}</td>
          <td>{{ role.role_name }}</td>
          <td>
            <button (click)="editRole(role)">Editar</button>
            <button (click)="deleteRole(role.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  